<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <meta charset="utf-8" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.png" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            <h1>Matt Burton</h1>
        </header>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="GradeCalc">Grade Calc</a></li>
            </ul>
        </menu>
        
        

        @RenderBody()
    </div>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradecalc.js"></script>
</body>
</html>
